.navbar{
    border-top: 3px red solid;
    padding-left: 120px;
    height: 60px;
    padding-top: 3px;
}
.titleimage{
    float: left;
    margin-top: -15px;
}
.titleAmar{
    color: #666666;
    font-size: 22px;

}
.titleProshno{
    font-weight: bold ;
    color: #000000;
    font-size: 22px;
}
.singUp{
    margin-left: 40px;
}
.login{
    color: #0d89ed;
}
.btnstyle{
    margin-top: -7px;
}

.content{
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 70px;
}
.topQue{
    width: 99%;
    height: 50px;
    float: left;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 50px;
    font-weight:bold ;
}
.leftContent{
    width: 73%;
    height: auto;
    float: left;
    margin-top: 10px;
}
.Quetable{
    height: 500px;
    width:785px;
    float: left;
    border: 1px solid #ccc;
}

.queInputBox{
    height: 50px;
    width: 700px;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}
.textArea{
    height: 100px;
    width: 700px;
    float: left;
    margin-left: 50px;
    margin-top: 5px;
}
.button{
    float: right;
    margin-top: 10px;
    margin-left: 10px;
}
.rightContent{
    width: 25%;
    height: auto;
    float: right;
    margin-top: 15px;
}
.ddd{
    width: 100%;
    height: 50px;
}
.Advertise{
    height: 250px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #b1d0d9;
}











/*Footer*/

.footer{
    height: 300px;
    width: 102%;
    margin: auto;
    margin-top: 30px;
    margin-left: -13px;
    background-color: #063344;
}