
.navbar{
    border-top: 3px red solid;
    padding-left: 120px;
    height: 60px;
    padding-top: 3px;
}
.nav li a:hover{
    background-color: green;

}
.titleimage{
    float: left;
   margin-top: -15px;
}
.titleAmar{
    color: #666666;
    font-size: 22px;

}
.titleProshno{
    font-weight: bold ;
    color: #000000;
    font-size: 22px;
}
.singUp{
    margin-left: 40px;
}
.login{
    color: #0d89ed;
}
.btnstyle{
    margin-top: -7px;
}


.header{
    border-bottom: 3px solid #33CCFF;
    width: 95%;
    height: 300px;
    background: url(../images/main.jpg) top center scroll ;
    margin: auto;
    text-align: center;
    margin-top: 80px;
}
.JoinTitle{
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding-top: 50px;
}
.bottom{
    border-bottom: 3px solid #b2dba1;
    width: 25px;
    text-align: center;
    margin: auto;
}
.Community{
    text-align: center;
    width: 350px;
    font-size: 17px;
    margin: auto;
    color: #ddd;
    padding-top: 10px;
}

.content{
    width: 95%;
    height: auto;
    margin: auto;
}
.topQue{
    width: 99%;
    height: 50px;
    float: left;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 50px;
    font-weight:bold ;
}
.leftContent{
    width: 73%;
    height: auto;
    float: left;
    margin-top: 15px;
}
.Quetable{
    height: 120px;
    width:785px;
    float: left;
    border-bottom: 1px solid #ccc;
}
.ImageBox{
    text-align: center;
    width: 100px;
    height:115px;
    line-height: 115px;
    float: left;
}
.usersImage{
    height: 75px;
    width:70px;
}
.QueBox{
    margin-top: -20px;
}
.QueTitle{
    width: 680px;
    height: auto;
    float: right;
    padding-left: 10px;
    padding-top: 10px;
    padding-top: -20px;
    font-size: 16px;
    color: royalblue;
}
.DisBox{
    width: 680px;
    height: auto;
    float: right;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: -10px;
    font-size: 13px;
    color: #666;
}
.quedis{

}
.readmore{
    padding-left: 5px;
    color: #2023db;
    text-decoration: underline;
}
.readmore:hover{
    color: #00b008;
}


.rightContent{
    width: 25%;
    height: auto;
    float: right;
    margin-top: 15px;
}
.askQue{
    width: 100%;
    height: 50px;
}
.AskBtn{
    height: 50px;
    line-height: 45px;
    text-align: right;
}
.btnnn{
    background-color: #fff;
    color: #437edb;
}
.btnnn:hover{
    background-color: #e2e2e2;
    color: #000;
}
.Advertise{
    height: 250px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #b1d0d9;
}

/*Footer*/

.footer{
    height: 300px;
    width: 95%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #063344;

}
